* {
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#outer {
  overflow: hidden;
}

#outer div {
  display: inline-block;
}

#loop {
  white-space: nowrap;
  animation: loop-anim 100s linear infinite;
}

@keyframes loop-anim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%; /* This works because of the div between "outer" and "loop" */
  }
}

/*FADE IN*/
.p1 {
  animation-name: fade1;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/*FADE IN*/
.p2 {
  animation-name: fade2;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 1);
}
.p3 {
  animation-name: fade3;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 2);
}
/*FADE IN*/
.p4 {
  animation-name: fade4;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 3);
}
.p5 {
  animation-name: fade5;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 4);
}
/* The animation code */
@keyframes fade1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*posizione scritte*/
.p1,
.p2,
.p3,
.p4,
.p5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);