:root {
  --animation-delay: 3.5s;
}

* {
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

canvas {
  display: block;
}

.scroll {
  overflow: hidden;
  color: white;
  font-size: 1em;
}

#top-left {
  position: absolute;
  width: 80vw;
  top: 4vh;
  left: 2vw;
}

#center {
  position: absolute;
  width: 10vw;
  top: 4vh;
  left: 47vw;
}

/*posizione scritte*/
.p_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.about_text {
  position: absolute;
  margin: auto;
  width: 50vw;
  top: 12vh;
  left: 25vw;
  font-size: 1.2em;
  line-height: 1.2;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
  text-decoration: none;
}

#logo:hover {
  text-decoration: none;
}

#top div {
  position: fixed;
  display: inline-block;
}

#bottom div {
  position: fixed;
  display: inline-block;
  bottom: 2vw;
}

/* #outer {
  overflow: hidden;
}

#outer div {
  display: inline-block;
} */

.loop {
  white-space: nowrap;
  animation: loop-anim 20s linear infinite;
}

.c-1 {
  color: rgb(125, 223, 100);
}
.c-2 {
  color: rgb(230, 13, 100);
}
.c-3 {
  color: rgb(177, 15, 46);
}
.c-4 {
  color: rgb(255, 107, 46);
}
.c-5 {
  color: rgb(77, 108, 250);
}
.c-6 {
  color: rgb(154, 72, 208);
}

@keyframes loop-anim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

/*FADE IN*/
#p1 {
  animation-name: fade;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
/*FADE IN*/
#p2 {
  animation-name: fade;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 1);
}
#p3 {
  animation-name: fade;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 2);
}
/*FADE IN*/
#p4 {
  animation-name: fade;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 3);
}
#p5 {
  animation-name: fade;
  animation-duration: var(--animation-delay);
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: calc(var(--animation-delay) * 4);
}
/* The animation code */
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
